#a {
    margin-bottom: 3rem;
}

#projects {
    margin: 1rem;
    color: black;
}

.content {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 100%;
    display: flex;
    max-width: 1200px;
    position: relative;
}

.wrapper i {
    top: 50%;
    height: 44px;
    width: 44px;
    color: #fff;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #343F4F;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper i:active {
    transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
    background: #29313d;
}

.wrapper i:first-child {
    left: -22px;
    display: none;
}

.wrapper i:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: flex;
    flex-direction: row;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}



.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.card {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.37);
    width: 50vh;
    min-width: 50vh;
    min-height: 40vh;
    height: 40vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 15px;
    margin-right: 20px;
}

.divider {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: fill;
    border-radius: 15px;
}

.group-text {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 0.7rem;
    width: 100%;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons img {
    width: 16px;
    height: 16px;
    object-fit: contain;
}

.group-text h3 {
    color: black;
    font-size: 17px;
}


.group-text p {
    color: gray;
    font-size: 14px;
}

.icons:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: gray;
}

@media screen and (max-width: 550px) {

    .card {
        background-color: white;
        border: 1px solid rgba(128, 128, 128, 0.37);
        width: 50vh;
        min-width: 30vh;
        min-height: 40vh;
        height: 40vh;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        padding: 15px;
        margin-right: 20px;
    }

    .content {
        padding: 0 0;
    }
}

@media screen and (max-width: 346px) {

    .card {
        width: 50vh;
        min-width: 28vh;
        min-height: 40vh;
        height: 40vh;
    }

    .content {
        padding: 0 0;
    }
}