* {
    margin: 0;
    padding: 0;
}

.App {
    font-family: sans-serif;
    text-align: center;
}

section {
    padding-top: 8vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

